body {
	background: #151516;
	color: #dddd;
	margin: 0;
	font-family: 'Montserrat';
	font-size: 22px;
}

.videoHeader {
	/*background: gray;*/
	height: 75vh;
	position: relative;
}

.videoHeader video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}
.videoHeader nav {
	padding-top: 44px;
	margin: 0 auto;
	max-width: 50vw;
	height: auto;
}

.videoHeader nav img {
	height: 100%;
	display: inline-block;
}

.videoHeader nav #logo{
	float: left;
	width: auto;
	height: 78px;
	background-size: 100% 100%;
}

.videoHeader nav ul {
	display: flex;
	align-items: center;
	margin: 0;
	float: right;
	height: 78px;
}

.videoHeader nav li {
	float: left;
	list-style: none;
	margin: 2px 0 0 36px;
}

.videoHeader nav li a {
	display: inline-block;
	vertical-align: middle;
	color:  white;
	text-decoration: none;
	font-weight: 900;
	font-size: 28px;
	font-family: 'M PLUS Rounded 1c';
}

.videoHeader nav li a:hover {
	text-decoration: underline;
}